.span-2  &nbsp;

.span-20

  %h1 All Works

  %table
    %tr
      %th Thumbnail
      %th Designer
      %th Title
      %th Description
      %th
      %th
      %th

    - @works.each do |work|
      %tr
        %td= image_tag work.image.url, :width => "100px;"
        %td
          - if work.designer
            = work.designer.first_name + " " + work.designer.last_name
          - elsif work.gallery
            = work.gallery.capitalize
        %td= work.text
        %td= work.desc
        %td= link_to 'View', work
        %td= link_to 'Edit', edit_work_path(work)
        %td= button_to 'x', work, :confirm => 'Are you sure?', :method => :delete

  %br

  = link_to 'Add Work', new_work_path

.span-2.last &nbsp;
