.span-2 &nbsp;
.span-20
  - if @work.designer
    .stylize.black.big
      = @work.designer.first_name + " " + @work.designer.last_name
    .stylize.big
      &nbsp;&nbsp;
      = @work.text
  %br
  .stylize.black
    = @work.desc.html_safe
  %br
  %br
    
  = image_tag @work.image.url, :width => "790px"
  
  %br
  %br
  = link_to "Inquire about this peice", :controller => :pages, :action => :inquiry, :id => @work.id
  \|

  - if current_user
    = link_to 'Edit', edit_work_path(@work)
    \|
  = link_to 'Back', :back

.span-2.last &nbsp;
