.designers
  .span-2 &nbsp;
  .span-20
    .stylize.black
      Designers:
      &nbsp;&nbsp;&nbsp;
    - for designer in @designers
      .stylize
        = link_to designer.first_name + " " + designer.last_name, "##{designer.id}"
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    .stylize= link_to "New Designer", new_designer_path 
    %br
    %br
    %hr      

    - for designer in @designers
      %a{:name => designer.id}
      .stylize.black.big= designer.first_name + " " + designer.last_name
      %br
      .works
        - for work in designer.works
          = link_to image_tag(work.image.url, :class => "work_image"), work.image.url, :rel => "prettyPhoto", :title => work.desc
        %br
      .stylize
        = link_to "see More from this designer", designer
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        = link_to "Edit me", edit_designer_path(designer)
        = button_to 'x', designer, :confirm => 'Are you sure?', :method => :delete
      
      %br
      %br
      %hr
      %br
    
  .span-2.last &nbsp;