.span-24.last
  %center
    = image_tag @work.image.url, :width => "790px;", :style => "border: 1px solid black"
.clear

.span-24.last
  .span-2 &nbsp;
  .span-7
    - index_left = Content.find_by_context("index_left")
    - if index_left
      %h2.section_title= index_left.title
      %p= index_left.body
  .span-6
    - index_middle = Content.find_by_context("index_middle")
    - if index_middle
      %h2.section_title= index_middle.title
      %p= index_middle.body
  .span-7
    - index_right = Content.find_by_context("index_right")
    - if index_right
      %h2.section_title= index_right.title
      %p= index_right.body
  .span-2.last &nbsp;