.span-2 &nbsp;
.span-20
  .span-20.last{:style => "padding-left: 100px; margin-top: -15px;"}
    .stylize{:style => "font-size: 0.9em"}= link_to "Rings", "#rings"
    &nbsp;&nbsp;&nbsp;&nbsp;
    .stylize{:style => "font-size: 0.9em"}= link_to "Pendants and Necklaces", "#pandn"
    &nbsp;&nbsp;&nbsp;&nbsp;
    .stylize{:style => "font-size: 0.9em"}= link_to "Earrings", "#earrings"
    &nbsp;&nbsp;&nbsp;&nbsp;
    .stylize{:style => "font-size: 0.9em"}= link_to "Broaches", "#broaches"
    &nbsp;&nbsp;&nbsp;&nbsp;
    .stylize{:style => "font-size: 0.9em"}= link_to "Bracelets", "#bracelets"
    &nbsp;&nbsp;&nbsp;&nbsp;
    .stylize{:style => "font-size: 0.9em"}= link_to "Antiques & Estate", "#aande"
    &nbsp;&nbsp;&nbsp;&nbsp;
  
  .span-20.last
    %a{:name => 'rings'}
    %p.stylize Rings
    .jewelry_gallery
      - for work in @rings
        = link_to image_tag(work.image.url), work.image.url, :rel => "prettyPhoto", :title => work.desc + "<br/>#{link_to 'More Information', work}"
  .span-20.last
    %a{:name => 'pandn'}
    %p.stylize Pendants and Necklaces
    .jewelry_gallery
      - for work in @pandn
        = link_to image_tag(work.image.url), work.image.url, :rel => "prettyPhoto", :title => work.desc + "<br/>#{link_to 'More Information', work}"
  .span-20.last
    %a{:name => 'earrings'}
    %p.stylize Earrings
    .jewelry_gallery
      - for work in @earrings
        = link_to image_tag(work.image.url), work.image.url, :rel => "prettyPhoto", :title => work.desc + "<br/>#{link_to 'More Information', work}"
  .span-20.last
    %a{:name => 'broaches'}
    %p.stylize Broaches
    .jewelry_gallery
      - for work in @broaches
        = link_to image_tag(work.image.url), work.image.url, :rel => "prettyPhoto", :title => work.desc + "<br/>#{link_to 'More Information', work}"
  .span-20.last
    %a{:name => 'bracelets'}
    %p.stylize Bracelets
    .jewelry_gallery
      - for work in @bracelets
        = link_to image_tag(work.image.url), work.image.url, :rel => "prettyPhoto", :title => work.desc + "<br/>#{link_to 'More Information', work}"
        
  .span-20.last
    %a{:name => 'aande'}
    %p.stylize ANTIQUES & ESTATE
    .jewelry_gallery
      - for work in @aande
        = link_to image_tag(work.image.url), work.image.url, :rel => "prettyPhoto", :title => work.desc + "<br/>#{link_to 'More Information', work}"
  
  
.span-2.last &nbsp;

