.span-2 &nbsp;
.span-20
  - @news_items.each do |news_item|
    .stylize.black.big= news_item.title
    %br
    .stylize.black= news_item.created_at.to_s(:pretty)
    %p= news_item.body
    - if current_user
      .stylize= link_to "Edit Me", edit_news_item_path(news_item)
    %br
    %br
  %br
  - if current_user
    .stylize= link_to 'Draft new post', new_news_item_path
  %br
.span-2.last &nbsp;