.span-2 &nbsp;
.span-10
  .stylize.black.big Contact Us:
  = render 'form'
.span-10
  %br
  %br
  = link_to image_tag('map.png', :width => "400px"), "http://maps.google.com/maps?q=1470+EAST+VALLEY+ROAD+SUITE+V+MONTECITO+CA,+93108+&hl=en&ll=34.437814,-119.63341&spn=0.009379,0.01339&sll=37.0625,-95.677068&sspn=36.863178,54.84375&vpsrc=6&hnear=1470+E+Valley+Rd,+Montecito,+Santa+Barbara,+California+93108&t=m&z=16", :target => "blank"
  %br
  .stylize.black
    1470 East Valley Road Suite V 
  .stylize
    Montecito CA, 93108
  %br
  .stylize.big
    We can also be contacted by:
    %br
  .stylize
    Telephone:
  .stylize.black
    (805) 969 0888
  
  %br
  %br
  .stylize.black.big
    Join our mailing list:
    %br
  = form_for @fan do |f|
    = f.text_field :email, :style => "width: 300px; font-size: 1.5em"
    = f.hidden_field :body, :value => "Joined your mailing list!"
    = f.submit "Join"
    
.span-2.last &nbsp;