- if current_user
  .stylize.black
    admin menu:
  .stylize
    = link_to "Designers", designers_path
    |
    = link_to "Inventory", works_path
    |
    = link_to "News", news_items_path
    |
    = link_to "CMS", contents_path
    |
    = link_to "Mailing List", pages_mailing_list_path
    |
    = link_to "Sign Out", destroy_user_session_path, :method => :destroy
  