%html
  %head
    = stylesheet_link_tag "screen.css", "tresor.css", "ie.css", 'prettyPhoto.css'
    = javascript_include_tag 'jquery', 'jquery.prettyPhoto.js', 'http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js'
    :javascript
      $(document).ready(function() {
          $('.slideshow').cycle({
      		fx: 'fade',
      		speed: 2000,
      		timeout: 3000
      	});
      });
      
    %title TR&Eacute;SOR
  
  %body
    .container.main
      .frame_top_left
      .frame_top_right
      .header
        .span-24.last.logo
          T R &Eacute; S O R
        .clear
        
        .span-24.last.menu
          .span-2 &nbsp;
          .span-1= link_to "Home", root_path
          .span-2= link_to "Jewelry", pages_jewelry_path
          .span-2= link_to "Designers", designers_path
          .span-4= link_to "Watches and Clocks", pages_watches_and_clocks_path
          .span-3= link_to "Objects of Art", pages_objects_of_art_path
          .span-3= link_to "Specimens", pages_specimens_path
          .span-1= link_to "News", news_items_path
          .span-2= link_to "About Us", pages_about_path
          .span-2= link_to "Contact", new_fan_path
          .span-2.last &nbsp;
          %hr.menu_underline
        .clear
      .span-24.last.content
        - if flash[:notice]
          .span-2 &nbsp;
          .span-20
            .stylize.big= flash[:notice]
          .span-2.last &nbsp;
          
          %br
        = yield
      .clear
      
    .container
      .span-24.last
        %br
        %center 
          = render 'layouts/admin_menu'
          %br
          %p.stylize Restore the Rainforest!  Replace this footer!
    = render 'layouts/gallery_footer'