%html
  %head
    = stylesheet_link_tag "screen.css", "tresor.css", "ie.css", 'prettyPhoto.css'
    = javascript_include_tag 'jquery', 'jquery.prettyPhoto.js', 'http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js'
    :javascript
      $(document).ready(function() {
          $('.slideshow').cycle({
      		fx: 'fade',
      		speed: 3000,
      		timeout: 5000
      	});
      });
      
    = javascript_include_tag "/javascripts/ckeditor/ckeditor.js"

      
    %title TR&Eacute;SOR
  
  %body
    .container.main
      .frame_top_left
      .frame_top_right
      .header
        .span-24.last.logo
          = link_to image_tag("logo.png", :height => "50px"), root_path
        .clear
        
        .span-24.last.menu
          = render 'layouts/top_menu'
          %hr.menu_underline
          .clear
      .span-24.last.content
        - if flash[:notice]
          .span-2 &nbsp;
          .span-20
            .stylize.big= flash[:notice]
          .span-2.last &nbsp;
          
          %br
        = yield
      .clear
      
    .container
      .span-24.last
        %br
        %center 
          = render 'layouts/admin_menu'
          %br
          %p.stylize
            / This is where the footer text would go.
    = render 'layouts/gallery_footer'